@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --blue-color: rgb(35, 35, 167);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: #212121;
}

.blue-text {
  color: var(--blue-color);
}

.container {
  width: 600px;
  position: relative;
  background-color: #fff;
  padding: 4rem 0 2rem;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.triangle-1 {
  position: absolute;
  left: 70px;
  top: -6px;
  font-size: 1.3rem;
  opacity: 0.5;
  transform: rotate(180deg);
}

.text {
  padding: 5px;
  position: relative;
}

.text .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 4rem;
  position: relative;
}

.title span {
  position: absolute;
  bottom: 8px;
  margin-left: 2px;
  font-size: 0.8rem;
}

.quote {
  color: var(--blue-color);
  font-size: 2.5rem;
}

.wishes {
  margin-bottom: 2rem;
  position: relative;
}

.wishes .italic {
  font-family: "Italianno", cursive;
  font-weight: 500;
  font-size: 4rem;
  position: absolute;
  margin-left: -30px;
  top: -25px;
}

.wishes .wishes-text {
  font-size: 2.5rem;
  font-weight: 900;
  position: relative;
}

.wishes-text i {
  color: grey;
  position: absolute;
  font-size: 1.1rem;
  font-weight: normal;
  bottom: 0;
  margin-left: -2px;
  opacity: 0.6;
}

.text p {
  font-size: 1rem;
  font-weight: 550;
  opacity: 0.8;
  word-spacing: 1px;
}

.images {
  position: relative;
}

.images img {
  border: 3.5px solid blue;
  position: absolute;
  left: 30px;
}
.image_desc {
  position: absolute;
  background-color: var(--blue-color);
  color: #fff;
  bottom: -10px;
  right: 0;
  padding: 5px 20px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image_desc span {
  font-size: 0.7rem;
}

.triangle-2 {
  position: absolute;
  left: 240px;
  top: 50px;
  font-size: 1.3rem;
  opacity: 0.5;
  transform: rotate(180deg);
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.row-2 img {
  opacity: 0.5;
}

.row-2 p {
  opacity: 0.8;
}
